body{
    background-color: hsl(0, 10%, 92%);
}
header{
    background-image: url(../images/istockphoto-1329320034-612x612.jpg);
    color: #230101;
    font-weight: 800;
    font-size: 25px;
}

main{
    margin-top: 100px;
}
.body{

    width: 940px;
    height: 500px;
    background-color: aquamarine;
    margin: auto;
    position: relative;
    padding: 20px 20px;
    
    
}
.body1{

    float:right;
    background-image: url(../images/compartir.jpg);
    width: 60%;
    height: 100%;
    position:relative;
    background-position: center;
    background-attachment: contain;
    background-size: cover;
}

.body2{
    background-color: hsl(212, 28%, 91%);
    width: 40%;
    height: 100%;
    position: relative;
    background-position: center;
    background-attachment: contain;
    background-size: cover;
}
.body2 h1 {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    background-color: transparent;
    color: rgb(2, 2, 68);
}
.body2 p {

    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: rgb(2, 2, 61);



}
.bodymedio{
    background-image: url(../images/linkedin.jpg);
    width: 940px;
    height: 500px;
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    margin: auto;
    position: relative;
    padding: 20px 20px;
    
}
.bodymedio p {
    color: rgb(1, 1, 70);
}
.bodymedio a {

    background-color: transparent;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(1, 14, 10);
    margin-left: 350px;
    margin-bottom: 10px;
}
.imgpie img{
    width: 100%;
    height: 100%;
}
.copyright{

    
    width: 100%;
    height: 200px;
    text-align: center;
 }
 .textpie {
   width: 100%;
   height: 100%;
   background-color: hsl(60, 20%, 1%);
   position: relative;
   
 }
 .textpie p{
    text-align: right;
    color: #FEBA0B;
    position: absolute;
    bottom:10px;
    right:100px;
    width: 100%;
 }